.App {
padding: 20px;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ddd;
}

.header {
  position: absolute;
  z-index: 9999;
  color: #444;
  background-color: #ff0;
  box-shadow: 8px 8px 0px #0008;
  padding: 10px;
  max-width: 80%;

  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}