@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

@import './App.scss';
@import './RegionMap.scss';
@import './RegionCard.scss';
@import './Scale.scss';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
