.RegionCard {
  position: absolute;
  max-width: 160px;
  box-shadow: 4px 4px 0px #664;

  z-index: 1;
  

  &__title {
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #111;
    font-family: 'Comfortaa', cursive;
    background-color: #ff0;
    pointer-events: all;
  }
  
  &__desc {    
    font-size: 12px;
    font-family: 'Comfortaa', cursive;
    color: #ddd;
    background-color: #222;
    padding: 4px;
    span {
      padding-left: 5px;
      float: right;
      color: #ff0;
    }
    height: 18px;
    overflow-y: hidden;
    transition: all 1s ease;
  }
  
  &:hover,
  &:focus,
  &:active {
    z-index: 9999;
    .RegionCard__desc {
      height: 60px;
    }
  }

}


.active {
  z-index: 9999;
    .RegionCard__desc {
      height: 60px;
    }
}
