.RegionList {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 20px;
  list-style: none;


  &Item {
    width: 200px;
    height: 180px;
    box-shadow: 8px 8px 0px #0008;
    background-color: #fff;

    &__title {
      font-size: 16px;
      height: 50px;
      color: #111;
      font-family: 'Comfortaa', cursive;
      background-color: #ff0;
      padding: 8px;
    }
    &__desc {
      font-size: 14px;
      color: #111;
      font-family: 'Comfortaa', cursive;
      padding: 4px;

      p {
        font-size: 12px;
        margin: 10px 0;        
      }
    }

    span {
      float: right;
      b {
        margin-left: 4px;
        &::before {
          content: '[';
          white-space: pre;
        }
        &::after {
          content: ']';
        }
      }
    }
  }
}