.RegionCard {
  position: absolute;
  box-shadow: 2px 2px 0px #664;
  
  &__title {
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #111;
    font-family: 'Comfortaa', cursive;
    background-color: #ff0;
    pointer-events: all;
  }
  
  &__desc {    
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
    color: #ddd;
    background-color: #222;
    span {
      padding-left: 5px;
      float: right;
      color: #ff0;
      text-shadow: 0 0 4px #666;
    }
    height: 12px;
    overflow-y: hidden;
    transition: all 1s ease;
  }
  
  &:hover,
  &:focus,
  &:active {
    // z-index: 9999;
    .RegionCard__desc {
      height: 50px;
    }
  }

}
